
.notification {
    -fx-label-padding: 2px 8px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "VT220-mod";
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-background-color: rgba(60, 60, 60, 0.7);
}
.notification .text {
    -fx-stroke: none;
    -fx-stroke-width: 1px;
}